<% if current_user %>
  <% dark = current_user.darkmode? ? 'dark-own' : '' %>
<% end %>

<h1 class='notif-title-own bg-name-text <%= dark %>'>Account</h1>

<% if current_user %>

  <div class="user-info-container-own bg-name-text <%= dark %>">
      <div class="user-info-avatar-own">
        <% if current_user.avatar.attached? %>
          <%= image_tag current_user.avatar, class: "avatar-own" %>
          <% else %>
          <%=image_tag '/default-user.png', class: "avatar-own" %>
        <% end %>
      </div>
      <p class='user-info-username-own'><%= current_user.username %></p>
  </div>
  <div class="user-link-container-own bg-name-text <%= dark %>">
  <div class="container-switch-own">
    <label class="switch bg-name-primary <%= dark %>" >
    <%= link_to users_darkmode_path , method: :post do %>
      
      <% if dark == 'dark-own' %>
        <input id='check-input' type="checkbox" checked/>
      <% else %>
        <input id='check-input' type="checkbox"/>
      <% end %> 
        <div class='bg-name-light <%= dark %>'></div>
    <% end %>
    </label>
    <p>Dark Mode</p>
  </div>

    <%= link_to 'view my profile', users_show_path(current_user), class: "user-link-own bg-name-bright #{dark}" %>
    <%= link_to 'edit my profile', edit_user_registration_path, class: "user-link-own bg-name-bright #{dark}" %>
    <%= link_to 'log out', destroy_user_session_path, method: :delete, class: "user-link-own bg-name-bright #{dark}" %>
  </div>

<% end %>
