<div class="container">

  <div class="row">
        <div class="col-2">
            <%= link_to '<i class="fas fa-arrow-alt-circle-left"></i>Back'.html_safe, posts_path, class: "btn btn-light" %>
        </div>
            <h1 class="sec-title4-edit">Orders Edit</h1>
    </div>

  <% if order_belongs_to_user? @order %>
    <%= form_with(model:[@post, @order] , method: :patch, url: post_order_url) do |form| %>
      
    <div class="mb-3">
      <div class="row justify-content-center">
        <div class="col-md-8 d-grid">
            <label  class="form-label">Description</label>
            <%= form.text_area :body ,  class:"form-control", row:"2"%>
        </div>
      </div>
    </div>

    <div class="mb-3">
        <div class="row justify-content-center">
            <div class="col-md-4 d-grid">
                <%= form.submit "Edit", class: "btn btn-primary btn-lg post-bt-buffer"%>
            </div>
        </div>
    </div>
  <% end %>

  <%else%>
      <%= render "error/index" %>
  <% end %>
</div>
