<% if current_user %>
  <% dark = current_user.darkmode? ? 'dark-own' : '' %>
<% end %>
<div class="section section-margin">
<div class="container bg-name-text <%= dark %>">
    <%= form_with model: @post, local: true do |form| %>
    <% if @post.errors.any? %>
    <div class="alert alert-warning" role="alert">
    <h4 class="alert-heading"><i class="fas fa-exclamation-triangle"></i> Warning</h4>
    <p><%= pluralize(@post.errors.count, "error") %> prohibited
            this post from being saved:</p>
    <hr>
    <ul>
            <% @post.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
    </ul>
    </div>
    <% end %>
    <div class="mb-3">
        <label  class="form-label">Post Title</label>
        <%= form.text_field :title , class: "form-control bg-name-bright bg-name-text #{dark}", placeholder: "A descriptive title for your post"%>
    </div>
    <div class= "row">
        <div class="mb-3 col-md-5">
        <label  class="form-label">Specie</label>
        <%= form.select :specie, options_for_select(Post.species.keys), {}, class: "form-select bg-name-bright bg-name-text #{dark}" %>
        </div>
        <div class="mb-3 col-md-7">
            <label  class="form-label">Breed</label>
            <%= form.text_field :breed , class: "form-control bg-name-bright bg-name-text #{dark}", placeholder: "Animal's Breed"%>
        </div>
    </div>
    <div class="mb-3">
        <label  class="form-label">Picture</label>
        <%= form.file_field :avatar_main ,  class:"form-control bg-name-bright bg-name-text #{dark}"%>
    </div>
    <div class="mb-3">
        <label  class="form-label">Add more pictures if your want</label>
        <%= form.file_field :avatar2 ,  class:"form-control mb-3 bg-name-bright bg-name-text #{dark}"%>
        <%= form.file_field :avatar3 ,  class:"form-control bg-name-bright bg-name-text #{dark}"%>
    </div>
    <div class= "row">
        <div class="mb-3 col-md-5">
        <label  class="form-label">Post Type</label>
        <%= form.select :post_type, options_for_select(Post.post_types.keys), {}, class: "form-select bg-name-bright bg-name-text #{dark}", id: "posttype" %>
        </div>
        <div class="mb-3 col-md-7">
            <label  class="form-label">Price:</label>
            <%= form.number_field :price , class: "form-control bg-name-bright bg-name-text #{dark}", placeholder: "Price for sell", id: "price", disabled: true%>
        </div>
    </div>
    <div class="mb-3">
        <label  class="form-label">Animal description</label>
        <%= form.text_area :description ,  class:"form-control bg-name-bright bg-name-text #{dark}", placeholder: "Tell the world if he is a good boy :)", row:"3"%>
    </div>
    <div class="mb-3">
        <label  class="form-label">Delivery location</label>
        <%= form.text_area :address, id:"auto_loc", class:"form-control bg-name-bright bg-name-text #{dark}", row:"2"%>
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
        <label  class="form-label">Location Latitude </label> 
        <%= form.number_field :coord_x, step: :any ,  id:"lat", readonly: true, class:"form-control bg-name-bright #{dark}", placeholder: "First number in google maps'coord"%>
        </div>
        <div class="col-md-6">
        <label  class="form-label">Location Longitude</label>
        <%= form.number_field :coord_y, step: :any , id:"long", readonly: true, class:"form-control bg-name-bright #{dark}", placeholder: "Second number in google maps'coord"%>
        </div>
    </div>
    <div class="mb-3">
            <div class="row justify-content-center">
                <div class="col-md-4 d-grid">
                    <%= form.submit "Post", class: "btn btn-primary btn-lg post-bt-buffer"%>
                </div>
            </div>
        </div>
    <%end%>

</div>
</div>