
<% if current_user %>
  <% dark = current_user.darkmode? ? 'dark-own' : '' %>
<% end %>



<div class="notifications-container-own">

  <% if current_user %>

    <div class="current-option-container-own notifications-own" tag=notifications>
      <%= render 'notifications/notification' %>
    </div>
    <div class="current-option-container-own messages-own" tag=messages>
      <%= render 'chats/chat' %>
    </div>
    <div class="current-option-container-own account-own active-option-own" tag=account>
      <%= render 'users/user' %>
    </div>
  
  <% else %>

    <div class="current-option-container-own notifications-own" tag=notifications>
      <%= render 'users/guest' %>
    </div>
    <div class="current-option-container-own messages-own" tag=messages>
      <%= render 'users/guest' %>
    </div>
    <div class="current-option-container-own account-own active-option-own" tag=account>
      <%= render 'users/guest' %>
    </div>

  <% end %>

  <div class='notif-return-bar-own bg-name-primary <%= dark %>'>
    <i class="fas fa-chevron-left fa-2x nav-icon bg-name-text <%= dark %>"></i>
  </div>

</div>
